
@{
    ViewBag.Title = "Headquarter";
}
<link href="~/Content/Styles/HeadquarterStyle.css" rel="stylesheet" />

<section class="truso"></section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="../Images/truso1.png" alt="">
            </div>
            <div class="col-sm-8">
                <div class="logo">
                    <img src="../Images/logo.png" alt="">
                </div>
                <div class="tieude">
                    Công Ty TNHH Phát triển Công nghệ và Thương mại Dịch vụ KCL
                </div>
                <div class="noidung">
                    Công Ty KCL được Sở kế hoạch và Đầu tư thành phố Đà Nẵng cấp phép hoạt động với mã số 0402036052
                    ngày 13/04/2020
                </div>
                <div class="giamdoc">
                    <h4>
                        <b>
                            Giám Đốc
                        </b>
                    </h4>
                    <h2>Bà. Trần Thị Bích Liên</h2>
                </div>
                <div class="trusochinh">
                    <h4>
                        <b>
                            Trụ Sở Chính
                        </b>
                    </h4>
                    <p>
                        160 Lê Đình Lý, P.Vĩnh Trung,Q.Thanh Khê, TP.Đà Nẵng
                        <br>
                        SĐT: 0932 070 463 - 0903 555753
                    </p>
                </div>
                <div class="vanphongdaidien">
                    <h4>
                        <b>
                            Văn phòng đại diện:
                            (TP. Hồ Chí Minh)
                        </b>
                    </h4>
                    <p>
                        79/52 Tân Thắng, P.Sơn Kỳ, Q.Tân Phú, TP.Hồ Chí Minh
                        <br> SĐT: 0935 722 579
                    </p>
                    <h4>
                        <b>
                            Văn phòng đại diện:
                            (TP. Hà Nội)
                        </b>
                        <p>
                            Số 3, Ngách 28/32 , Ngõ 28 đường Tăng thiết giáp,
                            P. Cổ Nhuế 2, Q.Bắc Từ Liêm, TP.Hà Nội
                            <br> SĐT: 0889 607 607
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

