@model IEnumerable<WebBanHangOnline.Models.EF.Product>


@if (Model != null && Model.Any())
{
    <div class="title_main_product">
        <div class="title">
            <h1>Sản Phẩm Chủ Đạo</h1>
            <!-- <img src="../Images/Vector.png" alt=""> -->
        </div>
        <div class="content container">
            <div id="main_product-slide" class="products owl-carousel owl-theme" id="owl-carousel">
                @foreach (var item in Model)
                {
                    var strImage = "";
                    var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                    if (img != null)
                    {
                        strImage = img.Image;
                    <div class="item logoCustomer">
                        <div class="card" style="width: 20rem;">
                            <img style="height: 300px;"
                                 src="@strImage"
                                 class="card-img-top" alt="@item.Alias">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">
                                    @item.Description
                                </p>
                                <a href="/san-pham" class="btn btn-primary">Chi Tiết</a>
                            </div>
                        </div>
                    </div>
                    }

                }

            </div>
        </div>
    </div>
}
