
@{
    ViewBag.Title = "Solution";
}
<link href="~/Content/Styles/SolutionStyle.css" rel="stylesheet" />
<section id="solution" class="solution">
    <h1>Giải Pháp</h1>
</section>

<section id="content" class="content">
    <h1>GIẢI PHÁP CÔNG NGHỆ </h1>
    <p>
        Các sản phẩm dịch vụ của KCL đều được xây dựng trên nền tảng kết hợp công nghệ hiện đại của thế giới cùng
        với khả năng sáng tạo của các kỹ sư Việt Nam. Việc ứng dụng Khoa học Công nghệ tiên tiến và khai thác nguồn
        nhân lực trong nước đã giúp cho KCL tạo ra được những sản phẩm chuyên nghiệp với giá cả cạnh tranh.
    </p>
    <p>
        Các dự án được quản lý và thực hiện theo quy chuẩn một cách hệ thống, đảm bảo chất lượng, đáp ứng yêu cầu
        nội dung và tiến độ của khách hàng.
    </p>
    <p>
        Bên cạnh đó, hệ thống hỗ trợ khách hàng của KCL bao gồm đội ngũ các nhà tư vấn, thiết kế và chuyên viên giỏi
        về hệ thống công nghệ thông tin luôn luôn sẵn sàng phục vụ quý khách hàng.
    </p>

    <div class="imgContent">
        <div class="box1">
            <img src="../Images/s1.png" alt="">
        </div>
        <div class="box2">
            <img src="../Images/s2.png" alt="">
        </div>
        <div class="box3">
            <img src="../Images/s3.png" alt="">
        </div>
    </div>
</section>

