
@{
    ViewBag.Title = "Vision";
}
<link href="~/Content/Styles/VisionStyle.css" rel="stylesheet" />

<section id="vision" class="vision">
    <h1>TẦM NHÌN, SỨ MỆNH <br> GIÁ TRỊ CỐT LÕI</h1>
</section>

<section class="content">
    <div class="box box1">
        <p>
            KCL quyết tâm trở thành một trong những doanh nghiệp hàng đầu trong lĩnh vực công nghệ thông tin, phát
            triển các nền tảng số cho doanh nghiệp dựa trên công nghệ AI và BigData
        </p>
        <div class="circle"></div>
        <div class="circleSmall">
            <p>Tầm Nhìn</p>
        </div>
        <img src="../Images/vectorOrange.png" alt="">
    </div>
    <div class="box box2">
        <p>
            Chúng tôi mang trên mình sứ mệnh cung cấp các giải pháp, sản phẩm, dịch vụ thông minh, chuyển giao công
            nghệ có chất lượng cao góp phần vào sự nghiệp chuyển đổi số. Chúng tôi dùng kiến thức để thay đổi cuộc
            sống và làm cho cuộc sống ngày càng tốt đẹp hơn.
        </p>
        <div class="circle"></div>
        <div class="circleSmall">
            <p>Sứ Mệnh</p>
        </div>
        <img src="../Images/vectorGreen.png" alt="">
    </div>
    <div class="box box3">
        <p>
            Nhân - ĐOÀN KẾT chặt chẽ trong nội bộ, gắn bó mật thiết với khách hàng.
            <br> Lễ - Luôn có thái độ lịch sự, TÔN TRỌNG khách hàng, đối tác.
            <br> Nghĩa - Tạo ra những sản phẩm mang lại Ý NGHĨA tốt đẹp cho cuộc sống
            <br> Trí - TRI THỨC và sự sáng tạo đem lại thành công.
            <br> Tín - Luôn đặt chữ TÍN lên hàng đầu.
        </p>
        <div class="circle"></div>
        <div class="circleSmall">
            <p>giá trị cốt lõi</p>
        </div>
        <img src="../Images/vectorRed.png" alt="">
    </div>
</section>

