
@{
    ViewBag.Title = "Tin Tức";
}
<link href="~/Content/Styles/NewStyle.css" rel="stylesheet" />

<section id="news" class="news">
    <h1>Tin Tức</h1>
    <p>Luôn được cập nhật mỗi ngày</p>
</section>


<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 left">
                <div class="box">
                    <p>01 tháng 10</p>
                </div>
                <div class="container ">
                    <h1>Nâng cấp phần mềm quản lý bệnh viện </h1>

                    <div class="row">
                        <div class="col-sm-6 newsImg">
                            <img src="../Images/news1.png" alt="">
                        </div>
                        <div class="col-sm-6 newsContent">
                            <p>
                                Vào 14h00 ngày 10 tháng 10 năm 2022, Công ty TNHH phát triển Công nghệ và Thương mại
                                Dịch vụ KCL đã có cuộc gặp mặt với ông xx- giám đốc công ty IID tại phòng họp A401
                                Trung tâm Phát triển hạ tầng CNTT Đà Nẵng số 02 Quang Trung
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 newsContent">
                            <p>
                                Họp bàn về ký kết hợp đồng
                            </p>
                        </div>
                        <div class="col-sm-6 newsImg">
                            <img src="../Images/news2.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 right">
                <div class="new">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập từ khoá">
                        <span style="cursor: pointer;" class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>

                    </div>
                    <h1>Bài Viết Mới</h1>
                    <hr size="5px" color="#1E5420" />
                    <div class="baivietmoi">
                        <div class="box">
                            "Nâng cấp phần mềm quản lý bệnh viện để tích hợpviệc đăng ký khám chữa bệnh bằng căn
                            cước
                            công dân"
                        </div>
                        <hr size="5px" color="#1E5420" />

                        <div class="box">
                            "Nâng cấp phần mềm quản lý bệnh viện để tích hợpviệc đăng ký khám chữa bệnh bằng căn
                            cước
                            công dân"
                        </div>
                        <hr size="5px" color="#1E5420" />

                        <div class="box">
                            "Nâng cấp phần mềm quản lý bệnh viện để tích hợpviệc đăng ký khám chữa bệnh bằng căn
                            cước
                            công dân"
                        </div>
                        <hr size="5px" color="#1E5420" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="btnPage">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>Trang Trước
        </button>
        <button>
            <a href="./TestNews.html">
                Trang Sau
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </a>
        </button>-->
        @*<div class="page">
            Trang 01 / 05 Trang
        </div>*@
    <!--</div>-->
</section>

